<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <style>
    .breakdown{
    	padding: 40px;
    	background-color: #eee;
    	-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
    }
    </style>
</head>
<body>
<div id="root">
	<div class="container">
    	<div class="row">
        	<div class="twelve columns">
            	<h1>Recruiter</h1>
                <h6>
                	Welcome to recruiter application version 1.0.
                	Below are the registered headhunters. Click on each to see the list of candidates recruited for month
                	and afterwards click on the 'Calculate Fee' button to see the total fee.
                </h6>
                <ul>
                    <li v-for="headhunter in headhunters">
                    	<h5>{{headhunter.name}}&nbsp;&nbsp;<button v-on:click="headhunterCandidates(headhunter)">View Recruited List</button></h5>
                    	 <items :items="subItems" v-if="currentId == headhunter.id"></items>
                    	 <div v-if="currentId == headhunter.id"> 
                    	 	<button v-on:click="calculate(headhunter)" >Calculate</button> 
                    	 	<span v-if="isCalculate"> Currency: {{currency | 0}} ,  Amount : {{amount | 0}} </span>
                    	 	<div v-if="isCalculate" class="breakdown">{{breakdown}}</div>
                    	 </div>	
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
	<script src="/js/vue.min.js"></script>
	<script src="/js/axios.min.js"></script>
</div>

<script>

Vue.component('items', {
	  template: '<ul><li v-for="item in items">{{item.name}}</li></ul>',
	  props: {
	    items: {
	        type: Array,
	        default: function () { return [] }
	    }
	  }
	}
)

var app = new Vue({
	el: '#root',
    data : {
    		headhunters: [],
    		subItems: [],
    		currentId: -1,
    		currency: 0,
  		  	amount: 0,
  		  	breakdown: null,
  		  	isCalculate: false
    },
    mounted(){
    	this.fetchHeadhunters();
	},
    methods: {
  		fetchHeadhunters(){
        	axios.get("/headhunter").then(function(response){
            	this.headhunters = response.data;
            }.bind(this));
        },
        calculate(headhunter){
        	var self = this;
        	self.isCalculate = false;
        	axios.get(window.location.href +'/headhunter/'+ headhunter.id +'/calculate').then(function(response){
        		console.log(response);
        		self.currency = response.data.currency;
        		self.amount = response.data.amount;
        		self.breakdown = response.data.breakdown;
        		self.isCalculate = true;
      		});
        },
        headhunterCandidates(headhunter){
        	var self = this;
        	self.currentId = -1;
        	self.isCalculate = false;
        	console.log(window.location.href +'/headhunter/'+ headhunter.id +'/candidates');
        	axios.get(window.location.href +'/headhunter/'+ headhunter.id +'/candidates').then(function(response){
        		self.currentId = headhunter.id;
        		self.subItems = response.data;
      		});
      	},
      	isBreakDownRendable(){
      		return isCalculate;
      	}
    }
});

</script>
</body>
</html>
